/*
 * @Author: Derek.S 
 * @Date: 2019-02-12 23:59:03 
 * @Last Modified by: Derek.S
 * @Last Modified time: 2019-02-13 04:05:17
 */
html, body, div, p, a, i, em, img, ul, li {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei"
}
body {
    background: #f6fafd;
    overflow: hidden;
}
i,em {
    font-style: normal;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.clearfix::after, .clearfix::before {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
header {
    position: relative;
    height: 816px;
}
.header_bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 0% 0% 15% 15%;
    background: rgb(4, 22, 153);
    background: -moz-linear-gradient(309deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    background: -webkit-linear-gradient(309deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    background: -o-linear-gradient(309deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    background: -ms-linear-gradient(309deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    background: linear-gradient(39deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    z-index: -1;
    overflow: hidden;
}
.header_bg::before {
    content: "";
    display: block;
    height: 98px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar {
    width: 1176px;
    color: #fff;
    margin: 0 auto;
    height: 98px;
}
.intro {
    width: 1176px;
    color: #fff;
    margin: 0 auto;
}
.logo {
    float: left;
    margin-top: 30px;
}
.logo i{
    position: absolute;
    color: #1e3fc5;
    font-size: 20px;
    top: 25%;
    left: 25%;
}
.logo-icon {
    width: 42px;
    height: 42px;
    border-radius: 5px;
    background: #fff;
    margin-right: 22px;
    position: relative;
    overflow: hidden;
    float: left;
}
.logo-icon-small {
    width: 25px;
    height: 25px;
    background: #e6e7f5;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50%;
}

.logo a{
    color: #fff; 
    line-height: 42px;
    font-size: 20px;
}
.nav-menu {
    float:left;
    margin-left: 240px;
}
.nav-menu a {
    display: block;
    width: 100%;
    height: 100%;
    color: #a6b7ee;
    font-size: 18px;
}
.nav-menu a:hover {
    color: #fff;
}
.nav-menu li{
    height: 98px;
    float: left;
    margin-right: 60px;
    line-height: 98px;
    box-sizing: border-box;
}
.nav-menu li:hover, .nav-menu li:first-child {
    border-bottom: 4px solid #fff;
}
.nav-menu li:first-child a {
    color: #fff;
}
button.get-start {
    font-size: 18px;
    width: 180px;
    height: 50px;
    float: right;
    background: none;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    margin-top: 24px;
}
div.rec-strip {
    width: 554px;
    height: 118px;
    background:  rgba(255, 255, 255, 0.04);
    transform: rotate(156deg);
}
.rec-strip+.rec-strip {
    transform: rotate(156deg) translate(356px, 50px)
}
div.rec-group {
    position: absolute;
}
div.rec-group:first-child {
    top: 30%;
    left: 0%;
}
div.rec-group:nth-child(2) {
    top: 20%;
    left: 35%;
}
div.rec-group:nth-child(3) {
    top: 20%;
    left: 70%;
}
div.rec-group:last-child {
    top: 85%;
    left: 35%;
}
.intro {
    margin-top: 180px;
    width: 1176px;
    margin-bottom: 170px;
}
h3.intro-title {
    font-weight: normal;
    font-size: 48px;
    color: #fff; 
    line-height: 78px;
}
h3.intro-title, span.intro-span {
    width: 540px;
}
span.intro-span {
    margin: 45px 0px;
    display: block;
    line-height: 36px;
}
a.free-trial-button {
    width: 320px;
    height: 78px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 78px;
    font-size: 20px;
    background: -webkit-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: -moz-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: -o-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: -ms-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: linear-gradient(90deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    border-radius: 10px;
}
.deivces {
    width: 100%;
    position: absolute;
    top: 418px;
    left: 1200px;
    transform-origin: left top;
    transform: rotate(-30deg);
    z-index: 2;
}
.iphone, .ipad {
    width: 265px;
    height: 531px;
    background: #fff;
    border-radius: 30px;
    float: left;
}
.iphone {
    margin-top: 100px;
}
.ipad {
    width: 536px;
    height: 790px;
    margin-left: 60px;
}
.iphone-head, .ipad-head {
    height: 42px;
    position: relative;
}
.iphone-head::before {
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background: #000;
    display: block;
    position: absolute;
    top: 36px;
    left: 88px;
}
.iphone-head::after {
    content: "";
    height: 8px;
    width: 45px;
    border-radius: 5px;
    display: block;
    background: #000;
    position: absolute;
    top: 38px;
    left: 115px;

}
.iphone-body {
    height: 432px;
}
.iphone-foot, .ipad-foot {
    height: 42px;
    position: relative;
}
.iphone-foot::before {
    content: "";
    width: 42px;
    height: 42px;
    border: 1px solid #000;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
}
.iphone-foot::after {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}
.ipad-head::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 42px;
    left: 248px;
}
.ipad-head::after {
    content: "";
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 40px;
    left: 260px;
}
.ipad-body {
    height: 660px;
    margin: 0 18px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.ipad-foot::before {
    content: "";
    width: 45px;
    height: 45px;
    border: 1px solid #000;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}
.ipad-foot::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}