/*
 * @Author: Derek.S 
 * @Date: 2019-02-12 23:59:03 
 * @Last Modified by: Derek.S
 * @Last Modified time: 2019-02-13 04:05:17
 */
html, body, div, p, a, i, em, img, ul, li {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei"
}
body {
    background: #f6fafd;
}
i,em {
    font-style: normal;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after, .clearfix::before {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.pagewide {
    width: 1176px;
    margin: 0 auto;
}
header {
    position: relative;
    height: 816px;
}
.header_bg {
    display: block;
    height: 100%;
    width: 100%;
    min-width: 1176px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0% 0% 15% 15%;
    background: rgb(4, 22, 153);
    background: -moz-linear-gradient(309deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    background: -webkit-linear-gradient(309deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    background: -o-linear-gradient(309deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    background: -ms-linear-gradient(309deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    background: linear-gradient(39deg, rgb(4, 22, 153) 30%, rgb(11, 65, 217) 70%);
    z-index: -100;
    overflow: hidden;
}
.header_bg::before {
    content: "";
    display: block;
    height: 98px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar {
    color: #fff;
    height: 98px;
}
.intro {
    color: #fff;
}
.logo {
    float: left;
    margin-top: 30px;
}
.logo i{
    position: absolute;
    color: #1e3fc5;
    font-size: 20px;
    top: 25%;
    left: 25%;
}
.logo-icon {
    width: 42px;
    height: 42px;
    border-radius: 5px;
    background: #fff;
    margin-right: 22px;
    position: relative;
    overflow: hidden;
    float: left;
}
.logo-icon-small {
    width: 25px;
    height: 25px;
    background: #e6e7f5;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50%;
}

.logo a{
    color: #fff; 
    line-height: 42px;
    font-size: 20px;
}
.nav-menu {
    float:left;
    margin-left: 240px;
}
.nav-menu a {
    display: block;
    width: 100%;
    height: 100%;
    color: #a6b7ee;
    font-size: 18px;
}
.nav-menu a:hover {
    color: #fff;
}
.nav-menu li{
    height: 98px;
    float: left;
    margin-right: 60px;
    line-height: 98px;
    box-sizing: border-box;
}
div.nav-menu li:hover {
    color: #fff;
    border-bottom: 4px solid #fff;
}
button.get-start {
    font-size: 18px;
    width: 180px;
    height: 50px;
    float: right;
    background: none;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    margin-top: 24px;
}
div.rec-strip {
    width: 554px;
    height: 118px;
    background:  rgba(255, 255, 255, 0.04);
    transform: rotate(156deg);
}
.rec-strip+.rec-strip {
    transform: rotate(156deg) translate(356px, 50px)
}
div.rec-group {
    position: absolute;
}
div.rec-group:first-child {
    top: 30%;
    left: 0%;
}
div.rec-group:nth-child(2) {
    top: 20%;
    left: 35%;
}
div.rec-group:nth-child(3) {
    top: 20%;
    left: 70%;
}
div.rec-group:last-child {
    top: 85%;
    left: 35%;
}
.intro {
    margin-top: 180px;
    width: 1176px;
    margin-bottom: 170px;
}
h3.intro-title {
    font-weight: normal;
    font-size: 48px;
    color: #fff; 
    line-height: 78px;
}
h3.intro-title, span.intro-span {
    width: 540px;
}
span.intro-span {
    margin: 45px 0px;
    display: block;
    line-height: 36px;
}
a.free-trial-button {
    width: 320px;
    height: 78px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 78px;
    font-size: 20px;
    background: rgb(246, 93, 23);
    background: -webkit-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: -moz-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: -o-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: -ms-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: linear-gradient(90deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    border-radius: 10px;
}
.devices-box {
    width: 100%;
    min-width: 1176px;
    height: 1050px;
    overflow: hidden;
    position: absolute;
    top: -15%;
    z-index: -10;
}
.devices {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform-origin: left top;
    transform: rotate(-30deg);
    z-index: 2;
}
.iphone, .ipad {
    width: 265px;
    height: 531px;
    background: #fff;
    border-radius: 30px;
    float: left;
}
.iphone {
    margin-top: 54px;
}
.ipad {
    width: 536px;
    height: 790px;
    margin-left: 60px;
}
.iphone-head, .ipad-head {
    height: 42px;
    position: relative;
    background: #fff;;
    border-radius: 50px 50px 0 0;;
}
.iphone-head::before {
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background: #000;
    display: block;
    position: absolute;
    top: 36px;
    left: 88px;
}
.iphone-head::after {
    content: "";
    height: 8px;
    width: 45px;
    border-radius: 5px;
    display: block;
    background: #000;
    position: absolute;
    top: 38px;
    left: 115px;

}
.iphone-body {
    height: 432px;
    background: #fff;
}
.iphone-foot, .ipad-foot {
    height: 42px;
    position: relative;
    background: #fff;
    border-radius: 50px;
}
.iphone-foot::before {
    content: "";
    width: 42px;
    height: 42px;
    border: 1px solid #000;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
}
.iphone-foot::after {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}
.ipad-head::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 42px;
    left: 248px;
}
.ipad-head::after {
    content: "";
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 40px;
    left: 260px;
}
.ipad-body {
    height: 660px;
    margin: 0 18px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.ipad-foot::before {
    content: "";
    width: 45px;
    height: 45px;
    border: 1px solid #000;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}
.ipad-foot::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}
section {
    position: relative;
}
.partner-bar {
    margin-top: 105px;
    width: 100%;
    position: relative;
}
.partner-bar img {
    width: 140px;
    height: 88px;
}
.partner-bar li {
    float: left;
    min-width: 240px;
    width: 20%;
    text-align: center;
}
.partner-bar li:last-child {
    margin: 0;
}
.partner-bar span {
    display: inline-block;
}
.partner-bar span:nth-child(even), .partner-bar span:nth-child(odd) {
    font-size: 13px;
    color: #222328;
    line-height: 28px;
}
.partner-bar span:nth-child(even) {
    margin-top: 32px;
    margin-bottom: 30px;
}
.partner-shade {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); 
    background: -webkit-linear-gradient(0deg, rgba(255,255,255, 1) 0%, rgba(255,255,255, 0) 15%, rgba(255,255,255, 0) 85%, rgba(255,255,255, 1) 100%);
    background: -moz-linear-gradient(0deg,  rgba(255,255,255, 1) 0%, rgba(255,255,255, 0) 15%, rgba(255,255,255, 0) 85%, rgba(255,255,255, 1) 100%);
    background: -o-linear-gradient(0deg,  rgba(255,255,255, 1) 0%, rgba(255,255,255, 0) 15%, rgba(255,255,255, 0) 85%, rgba(255,255,255, 1) 100%);
    background: -ms-linear-gradient(0deg,  rgba(255,255,255, 1) 0%, rgba(255,255,255, 0) 15%, rgba(255,255,255, 0) 85%, rgba(255,255,255, 1) 100%);
    background: linear-gradient(90deg,  rgba(255,255,255, 1) 0%, rgba(255,255,255, 0) 15%, rgba(255,255,255, 0) 85%, rgba(255,255,255, 1) 100%);
}

.fast-setup-step {
    margin-top: 164px;
    display: block;
}
.bg-block {
    width: 1000px;
    height: 1000px;
    background: #000;
    border-radius: 30%;
}
.section-one {
    background: #eff3fa;
    position: absolute;
    top: 105%;
    transform: scale(0.97) rotate(-30deg);
    transform-origin: right bottom;
    left: -150px;
    z-index: -9999;
}
.section-two {
    background: #e4f4f8;
    position: absolute;
    top: 130%;
    transform: scale(0.4) rotate(-30deg);
    transform-origin: right bottom;
    right: 0;
    z-index: -9999;
}
.section-three {
    background: #e6f7fc;
    position: absolute;
    top: 400%;
    transform: scale(0.4) rotate(-30deg);
    transform-origin: right bottom;
    right: 50px;
    z-index: -9999;
}
.fast-setup-step-first, .fast-setup-step-second, .fast-setup-step-third{
    width: 494px;
    float: right;
    position: relative;
}
.number {
    font-size: 180px;
    color: rgba(34,35,40, 0.1);
    font-weight: 700;

}
.step-num::after {
    content: "FAST SETUP";
    font-size: 16px;
    color: #0d4cf2;
    position: absolute;
    left: 10px;
    top: 94px;
}
h3.step-title {
    font-size: 34px;
    color: #222328;
    position: absolute;
    top: 100px;
    left: 10px;
    line-height: 54px;
}
span.step-info {
    display: block;
    margin-top: 38px;
    margin-left: 10px;
    line-height: 32px;
    font-size: 18px;
    color: #3a3d4b;
}
.whitebox {
    background: #fff
}
.three-box {
    position: relative;
    float:left;
    width: 450px;
    display: block;
}
.w-b-i-one, .w-b-i-two, .w-b-i-three, .w-b-one, .w-b-two, .w-b-three {
    height: 250px;
    width: 440px;
    border-right: 2px solid #f7f7f7;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, .3);
    border-radius: 10px;
    
}
.w-b-one, .w-b-two, .w-b-three {
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, .1);
    border: none;
}
.w-b-i-one {
    margin-top: 50px;
    transform: skewY(15deg) rotate(-35deg);
    z-index: 5;
}
.w-b-i-two {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: scale(0.7) skewY(15deg) rotate(-35deg);
    z-index: -1;
}
.w-b-i-three {
    position: absolute;
    top: 70%;
    left: 10%;
    transform: scale(0.6) skewY(15deg) rotate(-35deg);
    z-index: -2;
}
.w-b-one {
    margin-top: 50px;
    z-index: 5;
}
.w-b-two {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: scale(0.7);
    z-index: -1;
}
.w-b-three {
    position: absolute;
    top: 75%;
    left: 15%;
    transform: scale(0.6);
    z-index: -2;
}
.fast-setup-step-second {
    margin-top: 254px;
    float: left;
}
.fast-setup-step-third {
    margin-top: 254px;
    float: right;
}
.playbox {
    width: 550px;
    height: 350px;
    border-radius: 10px;
    display: block;
    background: #fff;
    float: right;
    margin-top: 250px;
    position: relative;
}
.playbox::after {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #f4f4f4;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg-block-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: -50;
}
.playbox-fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.tb-last {
    margin-top: 254px;
    margin-bottom: 260px;
}
.mp-block {
    width: 100%;
    background: #05199e;
    background: -webkit-linear-gradient(0deg, rgb(5, 25, 158) 30%, rgb(12, 70, 232) 70%);
    background: -moz-linear-gradient(0deg, rgb(5, 25, 158) 30%, rgb(12, 70, 232) 70%);
    background: -o-linear-gradient(0deg, rgb(5, 25, 158) 30%, rgb(12, 70, 232) 70%);
    background: -ms-linear-gradient(0deg, rgb(5, 25, 158) 30%, rgb(12, 70, 232) 70%);
    background: linear-gradient(90deg, rgb(5, 25, 158) 30%, rgb(12, 70, 232) 70%);
}
.mp-mes-block {
    margin-top: 250px;
    margin-bottom: 230px;
}
.mp-info-box {
    width: 476px;
    float: left;
}
h3.mp-title-small {
    font-size: 16px;
    color: #8992d5;
}
.mp-title {
    margin-top: 30px;
    font-size: 42px;
    color: #fff;
    line-height: 50px;
}
.mp-info {
    font-size: 18px;
    color: #8992d5;
}
.right-iphone {
    margin-left: 210px;
    float: left;
    position: relative;
    top: -100px;
}
.right-iphone > .iphone {
    position: absolute;
    z-index: 5
}
.right-iphone > .iphone > .iphone {
    position: absolute;
    top: 0;
    left: 30%;
    margin-top: 0;
    transform: rotate(10deg);
    z-index: -1
}
.google-play, .apple-app-store {
    margin-top: 40px;
    display: inline-block;
}
.google-play {
    margin-right: 16px;
}
h4.fast-setup {
    margin-top: 158px;
    margin-bottom: 30px;
    color: #0d4cf2;
    font-size: 16px;
    text-align: center;
}
h3.pp-title {
    font-size: 42px;
    margin-bottom: 30px;
    text-align: center;
}
span.pp-info {
    display: block;
    font-size: 14px;
    color: #3a3d4b;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    line-height: 35px;
    margin-bottom: 60px;
}
.plan-one, .plan-two {
    padding: 50px 35px;
    width: 370px;
    height: 662px;
    text-align: center;
    position: relative;
    float: left;
}
.plan-one:hover, .plan-two:hover {
    background: #fff;
    border-radius: 10px;
    box-shadow:  0 0 50px 5px rgba(0, 0, 0, .3);
}
.plan-one {
    margin-left: 100px;
}
.plan-two {
    float: right;
    margin-right: 100px;
}
.plan-name, .plan-price {
    text-align: center;
    font-size: 16px;
    display: block;
}
.plan-name {
    margin-bottom: 40px;
    font-size: 16px;
    color: #2a2a2a;
}
.plan-price {
    color: #222328;
    font-size: 82px;
    margin-bottom: 90px;
}
.plan-one li, .plan-two li {
    margin-bottom: 28px;
    font-size: 18px;
}
a.plan-button {
    position: absolute;
    bottom: 55px;
    left: 0;
    margin-left: 75px;
    font-weight: bold;
    color: #000;
    background: none;
    border: 2px solid #ccc;
    padding: 15px 65px;
    border-radius: 10px;
}
a.plan-button:hover {
    color: #fff;
    border: none;
    padding: 17px 67px;
    background: rgb(246, 93, 23);
    background: -webkit-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: -moz-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: -o-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: -ms-linear-gradient(0deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
    background: linear-gradient(90deg, rgb(246, 93, 23) 30%, rgb(255, 150, 35) 70%);
}
.pricing-plans-box {
    margin-bottom: 235px;
}
.blog-post-list ul {
    display: block;
    width: 2000px;
    position: absolute;
}
.blog-post-list li {
    width: 390px;
    height: 475px;
    display: block;
    float: left;
    margin: 10px 25px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 25px 40px 50px 1px rgba(0, 0, 0, .1);
}

.blog-post-list {
    width: 100%;
    min-width: 1538px;
    height: 550px;
    overflow: hidden;
    position: relative;
    margin-bottom: 45px;
}
.latest-blog-posts {
    position: relative;
}
.blog-thumbnail {
    height: 260px;
}
.blog-info {
    padding: 30px;
    height: 216px;
    background: #f8f8f8;
}
.post-date {
    display: block;
    font-size: 16px;
    color: #a7a7a7;
    margin-bottom: 25px;
}
.post-title {
    color: #222328;
    font-size: 18px;
    line-height: 33px;
    
}
.post-readmore {
    margin-top: 25px;
    display: block;
    text-decoration: underline;
}
.pravbutton {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 160px;
}
.prev, .next {
    display: block;
    font-size: 18px;
    width: 64px;
    float: left;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 64px;
}
.prev {
    margin-right: 10px;
}