html, body, header, nav, section, article, footer, div, h1, h2, h3, h4, h5, h6, a, b, i, em, span, ul, li, img {
    font-family: "Microsoft Yahei",'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
body {
    background: #f8f9fb;
}
nav {
    background: #fff;
    height: 126px;
    width: 100%;
}
a {
    color: #858a95;
    text-decoration: none;
}
ul, li {
    list-style: none;
}
select {
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.clearfix::after, .clearfix::before {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
div.menu a {
    font-size: 14px;
    position: relative;
}
div.menu a:hover {
    color: #666978;
    text-shadow: 0px 0px black;
}
div.menu a:hover::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #0c82bf;
    border-radius: 50%;
    position: absolute;
    top: 105%;
    left: 50%;
}
div.logo, div.menu a {
    line-height: 126px;
}
.pageWide {
    width: 1170px;
    margin: 0 auto;
}
.logo {
    font-size: 28px;
    font-weight: 600;
    float: left;
}
.menu {
    float: right;
}
.menu li {
    float: left;
    list-style: none;
    margin-right: 28px;
    box-sizing: border-box;
}
.menu li:last-child {
    margin-right: 0;
}
.logoLink {
    color: black;
}
.banner {
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
}
.bannerTitle {
    color: #2b2f3b;
    font-size: 60px;
    margin-bottom: 35px;
}
.bannerIntro {
    width: 980px;
    color: #858a95;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 48px;
}
strong {
    color: black;
    font-weight: normal;
}
.readMore {
    font-size: 14px;
    font-weight: 600;
}
.list {
    margin-top: 110px;
}
.dolorBlock {
    background-color: #fff;
    padding: 70px 22px 90px 22px;
    float: left;
    width: 27%;
    margin-right: 30px;
    margin-bottom: 110px;
    position: relative;
}
.dolorBlock:nth-child(3n) {
    margin-right: 0;
}
.icon {
    width: 56px;
    height: 56px;
    margin: 0 auto 35px auto;
}
.dolorBlock:nth-child(1) > .icon, .dolorBlock:nth-child(3n+1) > .icon {
    background: url(../images/img.png) no-repeat -10px -12px;
}

.dolorBlock:nth-child(2) > .icon, .dolorBlock:nth-child(3n+2) > .icon {
    background: url(../images/img.png) no-repeat -74px -12px;
}

.dolorBlock:nth-child(3) > .icon, .dolorBlock:nth-child(3n+3) > .icon {
    background: url(../images/img.png) no-repeat -134px -12px;
}
.liTitle {
    color: #666978;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}
.listIntro {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #858a95;
}
.more {
    border-radius: 50%;
    background-color: #858a95;
    width: 74px;
    height: 74px;
    position: absolute;
    bottom: -37px;
    right: 50%;
    transform: translate(50%, 0);
}
.more:hover {
    background-color: #0a95dd;
    cursor: pointer;
}
.moreIcon {
    width: 9px;
    height: 20px;
    background: url(../images/img.png) no-repeat -194px -12px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}
.project {
    width: 1400px;
    margin: 0 auto;
}
.projectList {
    width: 350px;
    height: 277px;
    float: left;
    position: relative;
}
.projectList img {
    filter: grayscale(100%);
    filter: gray;
    position: relative;
    width: 350px;
    height: 277px;
}
.projectList img:hover {
    /* filter: none;
    position: relative; */
}
.projectBox {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 6
}
.projectTitle, .projectIntro, .projectShow {
    color: #fff;
    text-align: left;
    z-index: 6
}
.projectTitle {
    font-size: 24px;
}
.projectIntro, .projectShow {
    font-size: 14px;
}
.projectHover {
    width: 350px;
    height: 277px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.projectMore {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    margin: 0 auto;
    display: none;
}
.staff {
    /* width: 1222px;
    height: 428px; */
    overflow: hidden;
    padding-top: 200px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 110px;
    position: relative;
}
.staffUBox {
    width: 1000%;
}
#staffNext, #staffPrev {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: block;
    background: #858a95;
    position: absolute;
    top: 60%;
}
#staffNext {
    right: 0px;
}
#staffPrev {
    left: 0px;

}
.sNext, .sPrev {
    width: 9px;
    height: 20px;
    display: block;
    border-radius: 50%;
}
.sNext {
    background: url(../images/img.png) no-repeat -194px -12px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    
}
.sPrev{
    background: url(../images/img.png) no-repeat -235px -12px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}
.staffLBox {
    width: 337px;
    height: 336px;
    margin-right: 25px;
    background-color: #fff;
    float: left;
    position: relative;
    padding: 18px;
}
/* .staffLBox:nth-child(3n) {
    margin-right: 0;
} */
.staffImg {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 25%);
    z-index: 1;
}
.shareIcon {
    background: url(../images/img.png) no-repeat -275px -10px;
    height: 22px;
    width: 20px;
    display: block;
    margin-top: 18px;
    float: right;
}
.staffName {
    margin-top: 80px;
    font-size: 30px;
    color: #666978;
}
.staffTittle {
    margin-top: 25px;
    font-size: 14px;
    color: #858a95;
}
.staffInfo {
    margin-top: 25px;
    font-size: 14px;
    color: #858a95;
}
.staffName, .staffTittle, .staffInfo {
    text-align: center;
}
.contact {
    background-color: #fff;
    width: 100%;
}
.contactTitle {
    color: #2b2f3b;
    font-size: 30px;
    text-align: center;
    padding: 68px 0px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.contactLabel {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}
#fullName, #email {
    padding: 20px;
    width: 360px;
    border: none;
    background-color: #f8f9fb;
    margin-bottom: 20px;
}
.contactSelect option {
    padding: 20px;
}
.selectIpt {
    padding: 20px;
    width: 360px;
    height: 16px;
    border: none;
    background-color: #f8f9fb;
    position: relative;
}
.selectIpt::after {
    content: "";
    width: 56px;
    height: 56px;
    background: url(../images/img.png) no-repeat -317px -12px;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
}
.selectList {
    border: 1px solid #f8f9fb;
    background-color: #f8f9fb;
    font-size: 14px;
    width: 358px;
    cursor: pointer;
    position:absolute;
    z-index:10000;
}
.selectList span {
    width: 360px;
    display: block;
    cursor: pointer;
    height: 16px;
    padding: 20px;
}
.selectList span:hover {
    background-color: #fff;
}
#message {
    border: none;
    background-color: #f8f9fb;
    padding: 20px 24px;
    width: 690px;
    height: 220px;
    resize: none;
}
.contactSend {
    width: 374px;
    height: 58px;
    text-align: center;
    margin: 78px auto 54px auto;
    position: relative;
}
.contactSend::before {
    content: "";
    width: 21px;
    height: 17px;
    background: url("../images/img.png") no-repeat -391px -12px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

}
.contactSend input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #0a95dd;
    color: #fff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.footerBar {
    margin-top: 110px;
    padding: 45px 50px;
    background-color: #fff;
}
.fB-About {
    width: 240px;
}
.fB-Title {
    font-size: 24px;
    margin-bottom: 38px;
    color: #2b2f3b;
}
.fB-Intro {
    font-size: 12px;
    color: #858a95;
    text-align: justify;
    margin-bottom: 38px;
}
.fB-Copyright {
    font-size: 12px;
    color: #2b2f3b;
    font-weight: 400;
}
.tB-Title {
    font-size: 14px;
    color: #2b2f3b;
    margin-bottom: 32px;
}
.toolBar {
    float: left;
    width: 25%;
}
.toolBar li {
    margin-bottom: 24px;
    font-size: 13px;
    color: #858a95;
}
.toolBar li a:hover {
    color: #000;
}
.fB-ToolBar {
    width: 768px;
}