html, body, header, nav, section, article, footer, div, h1, h2, h3, h4, h5, h6, a, b, i, em, span, ul, li, img {
    font-family: "Microsoft Yahei",'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
body {
    background: #f8f9fb;
}
nav {
    background: #fff;
    height: 126px;
    width: 100%;
}
a {
    color: #858a95;
    text-decoration: none;
}
ul, li {
    list-style: none;
}
.clearfix::after, .clearfix::before {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
div.menu a {
    font-size: 14px;
    position: relative;
}
div.menu a:hover {
    color: #666978;
    text-shadow: 0px 0px black;
}
div.menu a:hover::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #0c82bf;
    border-radius: 50%;
    position: absolute;
    top: 105%;
    left: 50%;
}
div.logo, div.menu a {
    line-height: 126px;
}
.pageWide {
    width: 1170px;
    margin: 0 auto;
}
.logo {
    font-size: 28px;
    font-weight: 600;
    float: left;
}
.menu {
    float: right;
}
.menu li {
    float: left;
    list-style: none;
    margin-right: 28px;
    box-sizing: border-box;
}
.menu li:last-child {
    margin-right: 0;
}
.logoLink {
    color: black;
}
.banner {
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
}
.bannerTitle {
    color: #2b2f3b;
    font-size: 60px;
    margin-bottom: 35px;
}
.bannerIntro {
    width: 980px;
    color: #858a95;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 48px;
}
strong {
    color: black;
    font-weight: normal;
}
.readMore {
    font-size: 14px;
    font-weight: 600;
}
.list {
    margin-top: 110px;
}
.dolorBlock {
    background-color: #fff;
    padding: 70px 22px 90px 22px;
    float: left;
    width: 27%;
    margin-right: 30px;
    margin-bottom: 110px;
    position: relative;
}
.dolorBlock:nth-child(3n) {
    margin-right: 0;
}
.icon {
    width: 56px;
    height: 56px;
    margin: 0 auto 35px auto;
}
.dolorBlock:nth-child(1) > .icon, .dolorBlock:nth-child(3n+1) > .icon {
    background: url(../images/img.png) no-repeat -10px -12px;
}

.dolorBlock:nth-child(2) > .icon, .dolorBlock:nth-child(3n+2) > .icon {
    background: url(../images/img.png) no-repeat -74px -12px;
}

.dolorBlock:nth-child(3) > .icon, .dolorBlock:nth-child(3n+3) > .icon {
    background: url(../images/img.png) no-repeat -134px -12px;
}
.liTitle {
    color: #666978;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}
.listIntro {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #858a95;
}
.more {
    border-radius: 50%;
    background-color: #858a95;
    width: 74px;
    height: 74px;
    position: absolute;
    bottom: -37px;
    right: 50%;
    transform: translate(50%, 0);
}
.more:hover {
    background-color: #0a95dd;
    cursor: pointer;
}
.moreIcon {
    width: 9px;
    height: 20px;
    background: url(../images/img.png) no-repeat -194px -12px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}
.project {
    width: 1400px;
    margin: 0 auto;
}
.projectList {
    width: 350px;
    height: 277px;
    float: left;
    position: relative;
}
.projectList img {
    filter: grayscale(100%);
    filter: gray;
    position: relative;
    width: 350px;
    height: 277px;
}
.projectList img:hover {
    filter: none;
    position: relative;
}