html, body, header, section, footer, h1, h2, h3, h4, h5, h6, a, b, i, em, span, div, p, del, ul, li, img {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', 'Courier New', Courier, monospace;
}
/* @font-face {
    font-family: ""
} */
ul, li {
    list-style: none;
}
body {
    mix-width: 1180px;
    background-color: #edf1fc;
}
header {
    width: 100%;
    min-width: 1180px;
    background: #fff;
}
nav {
    width: 1180px;
    margin: 0 auto;
    padding: 16px 0;
    background: #fff;
}
a {
    text-decoration: none;
}
.clearfix::after, .clearfix::before {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.logo {
    width: 213px;
    height: 48px;
}
.nav-menu {
    float: right;
}
.nav-menu li {
    height: 48px;
    line-height: 48px;
    float: left;
}
.login-link, .join-button, .nav-menu a {
    font-size: 14px;
    color: #8b93a6;
    margin-right: 28px;
}
.nav-menu a:hover {
    color: blue;
}
a.join-button {
    margin-right: 0px;
    margin-top: 5px;
    width: 120px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
}
a.join-button:hover {
    font-weight: bold;
    color: #000;
}
.banner {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    padding-bottom: 29%;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.prev i{
    font-size: 48px;
    color: #fefeff;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}
.next i{
    font-size: 48px;
    color: #fefeff;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
}
.bannerSilder {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}
.bannerSilder li{
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 10px;
}
.bannerSilder li.select {
    background: #fff;
}
.bannerSilder li:last-child {
    margin-right: 0;
}
.locationBar {
    height: 100px;
    width: 950px;
    margin: 0 auto;
    position: relative;
}
.locationBar input {
    margin-top: 28px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 40px;
    width: 296px;   
    font-size: 14px;
    height: 46px;
}

.locationIcon {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 2px;
    color: #5d58f7;
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    top: 52%;
    transform: translate(0, -50%);
    left: 30%;
}
input.icon {
    position: relative;
}
.search {
    width: 162px;
    height: 48px;
    border: none;
    border-radius: 5px;
    background-color: #5d58f7;
    color: #fff;
    line-height: 48px;
    text-align: center;
    float: left;
    margin-top: 28px;
}