html, body, header, section, footer, h1, h2, h3, h4, h5, h6, a, b, i, em, span, div, p, del, ul, li, img {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', 'Courier New', Courier, monospace;
}
/* @font-face {
    font-family: ""
} */
ul, li {
    list-style: none;
}
body {
    background-color: #edf1fc;
}
header {
    width: 100%;
    min-width: 1180px;
    background: #fff;
}
.pageWide {
    width: 1180px;
    margin: 0 auto;
}
nav {
    width: 1180px;
    margin: 0 auto;
    padding: 16px 0;
    background: #fff;
}
a {
    text-decoration: none;
    color: #8b93a6;
}
a:hover {
    color: #5d58f7;
}
.clearfix::after, .clearfix::before {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.logo {
    width: 213px;
    height: 48px;
}
.nav-menu {
    float: right;
}
.nav-menu li {
    height: 48px;
    line-height: 48px;
    float: left;
}
.login-link, .join-button, .nav-menu a {
    font-size: 14px;
    margin-right: 28px;
}
a.join-button {
    margin-right: 0px;
    margin-top: 5px;
    width: 120px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
}
a.join-button:hover {
    font-weight: bold;
    color: #000;
}
.banner {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    padding-bottom: 29%;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.prev i{
    font-size: 48px;
    color: #fefeff;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}
.next i{
    font-size: 48px;
    color: #fefeff;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
}
.bannerSilder {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}
.bannerSilder li{
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 10px;
}
.bannerSilder li.select {
    background: #fff;
}
.bannerSilder li:last-child {
    margin-right: 0;
}
.locationBar {
    height: 100px;
    width: 950px;
    margin: 0 auto;
    position: relative;
}
.locationBar input {
    margin-top: 28px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 40px;
    width: 296px;   
    font-size: 14px;
    height: 46px;
}

.locationIcon {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 2px;
    color: #5d58f7;
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    top: 52%;
    transform: translate(0, -50%);
    left: 30%;
}
input.icon {
    position: relative;
}
.search {
    width: 162px;
    height: 48px;
    border: none;
    border-radius: 5px;
    background-color: #5d58f7;
    color: #fff;
    line-height: 48px;
    text-align: center;
    float: left;
    margin-top: 28px;
}
span.intro {
    font-size: 14px;
    color: #838992;
    text-align: center;
    display: inline-block;
    width: 100%;
}
h2.places {
    margin-top: 80px;
    margin-bottom: 28px;
    font-size: 48px;
    color: #242f45;
    text-align: center;
}
.placesList {
    margin-top: 60px;
    margin-bottom: 102px;
}
.placesList li {
    float: left;
    width: 375px;
    height: 330px;
    margin-right: 26px;
    margin-bottom: 32px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.placesList li:nth-child(3n) {
    margin-right: 0;
    
}
.placesBox {
    position: relative;
    height: 330px;
}
.placesImg {
    position: absolute;
    top: -20px;
    right: -50px;
    z-index: 0;
}
.cover {
    height: 300px;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}
.placesName {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 180px;
    left: 30px;
    z-index: 10;
}
.placesIntro {
    position: absolute;
    top: 215px;
    left: 30px;
    z-index: 10;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
}
.placesStarBar {
    background: #fff;
    height: 78px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    z-index: 10;
    bottom: 0;
}
.placesStar {
    margin-left: 30px;
    float: left;
}
.placesStar i {
    color: #ffc600;
    margin-right: 5px;
    line-height: 78px;
    font-size: 24px;
}
.placesStar i:last-child {
    margin-right: 0;
}
.placesViews {
    color: #909090;
    font-size: 16px;
    margin-left: 15px;
    float: left;
    line-height: 78px;
}
.placesImgSecond {
    top: 0;
    right: 0;
}
footer {
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #ccc;
    position: relative;
}
footer::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}
.footerSideBar {
    padding: 40px 12px 45px 12px;
    height: 300px;
}
.footerSideBar a {
    color: #838992;
    line-height: 28px;
    font-size: 16px;
}
.footerSideBar a:hover {
    color: #5d58f7;
}
h3.fSideBarTitle {
    color: #838992;
    font-size: 16px;
    margin-bottom: 38px;
}
.SideBarBlock {
    float: left;
    width: 30%
}
.SideBarBlock:last-child {
    width: 40%
}
.twoColumn {
    height: 168px;
    column-count: 2;
    column-rule: none;
    column-gap: 48px;
}
.footerBar {
    height: 50px;
    line-height: 50px

}
.copyright {
    color: #8b93a6;
    margin-right: 15px;
}
.copyright, .crLink {
    float: left;
    font-size: 12px;
}
.crLink a {
    padding: 0 15px;
    border-left: 1px solid #ccc;
}
.contentOnline {
    float: right;
    font-size: 24px;
    line-height: 50px;
}
.contentOnline i {
    margin-right: 40px;
}
.contentOnline i:last-child {
    margin-right: 0;
}